body {
  font-size: 30px;
  background-color: black;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding: 10px;
  color: white;
  min-height: 400px;
}

ul {
  margin-left: 0;
}
.playerInputPanel {
  height: 100%;
}

.playerInputPanel input {
  background: black;
  color: white;
  border: grey solid 2px;
  border-radius: 0;
  padding: 0 5px;
  margin: 0 auto 5px auto;
  display: list-item;
  height: 40px;
  font-size: 30px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
}

.playerInputPanel input:focus {
  outline: none;
  border-color: #00A0DC;
}

#assignButton {
  line-height: 0;
  margin-top: 10px;
  height: 50px;
  display: block;
  background-color: grey;
}

#playerSliderList {
  text-align: center;
  height: 100%;
  list-style: none;
}

.sliderWrapper {
  position: relative;
  border: solid grey 2px;
  height: 8%;
  border-radius: 100px;
  margin-bottom: 5px;
}

.slider-container .playerName {
  position: relative;
  z-index: 1;
  color: red;
}

/*dragdealer.css override*/
.new-slider .slide-text {
  top: 50%;
  transform: translateY(-50%);
}

.scrutinySlider {
  position: absolute;
  top: 26px;
  left: 4px;
}

.sliderPlayerName {
  position: absolute;
  top: -2px;
  left: 50px;
}

.hide {
  display:none;
}

#hideButton {
  background-color: black;
  font-size: 30px;
}

#playerDescDisplay {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#playerDescList {
  list-style: none;
  margin: auto;
  font-size: 20px;
}

.preGameDisplay li:first-child {
  margin-bottom: 20px;
}

.endGameDisplay li:last-child {
  margin-top: 20px;
}

#doneViewing {
  margin-top: auto;
}

#startButton {
  width: 100%;
}

.wordDisplay {
  color: white;
  outline-color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  font-weight: bolder;
}

#thisPresidentContainer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
}

#thisPresident {
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.endGameScreen {
  height: 100%;
}

.endGame {
  top: 50%;
  transform: translateY(-50%);
}