<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.5.3/css/foundation.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>-->
  <script src="../lib/angular.js"></script>
  <link rel="stylesheet" href="roles.css">
  <title>Secret Hitler</title>
</head>


<body ng-app="roleApp" ng-controller="roleController">


<div class="welcomePanel">Secret Hitler - Player List</div>

<form class="playerInputPanel" ng-model="playerInputPanelModel" ng-class="playerInputHiddenOrShown">

      <input ng-model="player.i" ng-change="assignButtonGreyOrGreen()" required/>
      <input ng-model="player.ii" ng-change="assignButtonGreyOrGreen()" required/>
      <input ng-model="player.iii" ng-change="assignButtonGreyOrGreen()"  required/>
      <input ng-model="player.iv" ng-change="assignButtonGreyOrGreen()"  required/>
      <input ng-model="player.v" ng-change="assignButtonGreyOrGreen()"  required/>
      <input ng-model="player.vi" ng-change="assignButtonGreyOrGreen()"  required/>
      <input ng-model="player.vii" ng-change="assignButtonGreyOrGreen()" required/>
      <input ng-model="player.viii" ng-change="assignButtonGreyOrGreen()" />
      <input ng-model="player.ix" ng-change="assignButtonGreyOrGreen()" />
      <input ng-model="player.x" ng-change="assignButtonGreyOrGreen()" />

    <!--<input ng-model="player[0]" ng-change="assignButtonGreyOrGreen()" required/>-->
    <!--<input ng-model="player[1]" ng-change="assignButtonGreyOrGreen()" required/>-->
    <!--<input ng-model="player[2]" ng-change="assignButtonGreyOrGreen()"  required/>-->
    <!--<input ng-model="player[3]" ng-change="assignButtonGreyOrGreen()"  required/>-->
    <!--<input ng-model="player[4]" ng-change="assignButtonGreyOrGreen()"  required/>-->
    <!--<input ng-model="player[5]" ng-change="assignButtonGreyOrGreen()"  required/>-->
    <!--<input ng-model="player[6]" ng-change="assignButtonGreyOrGreen()"  required/>-->
    <!--<input ng-model="player[7]" ng-change="assignButtonGreyOrGreen()"  required/>-->
    <!--<input ng-model="player[8]" ng-change="assignButtonGreyOrGreen()"  required/>-->
    <!--<input ng-model="player[9]" ng-change="assignButtonGreyOrGreen()"  required/>-->
    <!--<input ng-model="player[10]" ng-change="assignButtonGreyOrGreen()"  required/>-->


  <!--<div class="columns medium-12">-->
      <button id="startButton" ng-click="assignRoles()" ng-style="{'background-color': isStartReady}">ASSIGN ROLES</button>
    <!--</div>-->

</form>
<div id="playerButtonList" ng-class="playerButtonListHiddenOrShown" ng-style="{'display': isNoneOrBlock}">
  <div ng-repeat='playerName in playerArray track by $index' >
    <!--<span ng-class="presidentOrNot" class="president"></span>-->
    <button ng-disabled="(statsChecked(playerName) && !gameHasStarted ) || scrutinizedPlayerArray.indexOf(playerName) > -1" ng-click="showRole(playerName)" class="playerButton">{{playerName}}</button>
  </div>
</div>

<!--<span ng-model="playerDesc" ng-if="roleShowing" ng-bind-html="desc"></span>-->
<div ng-model="playerDesc" ng-repeat="descItem in desc track by $index">{{descItem}}</div>
<button ng-if="roleShowing" ng-click="hideRole()">Done Viewing</button>
<button ng-if="allChecked && !gameHasStarted" ng-click="startGame()">Start Game</button>
<span ng-model="presidentDeclaration"> {{thisPresident}}</span>
<!--<span ng-model="seePolicies">{{scrutinizedPlayer}}</span>-->

<!--<div  ng-repeat="(key, value) in roleList">{{key}}{{value}}</div>-->

<div class="displayPanels">
  <!--change this class name to something that makes more sense now that the words are also displayed-->
  <div ng-bind="countDownDisplay" class="countDownDisplay"></div>
  <div ng-bind="wordDisplay" class="wordDisplay" ng-style="{'font-size': dependsOnWordLength}"></div>
  <div ng-bind="logoDisplay" class="logoDisplay" ng-style="{'display': isNoneOrBlock}">
    <!--<img src=assets/blackoriginalorderfw.png >-->
  </div>
</div>




<script src="roles.js"></script>
</body>
</html>